.section-how {
    padding: 9.6rem 0;
}

.step-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
    transition: all 0.4s;

    &:hover {
        color: $color-grey-light-4;
    }
}

.step-description {
    font-size: 1.8rem;
    line-height: 1.8;
}

.step-img-box {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    &::before,
    &::after {
        content: "";
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &::before {
        width: 60%;
        padding-bottom: 60%;

        background-color: $color-primary-2;
        z-index: -2;
    }
    &::after {
        width: 45%;
        padding-bottom: 45%;
        background-color: $color-primary-3;
        z-index: -1;
    }
}

.step-img {
    width: 35%;
    transition: all 0.4s;
    &:hover {
        transform: scale(1.1);
    }
}
