.section-testimonials {
    background-color: $color-primary-2;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
}

.testimonials-container {
    padding: 9.6rem;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
}

.testimonial-img {
    width: 6.4rem;
    border-radius: 50%;
    border: 3px solid transparent;
    margin-bottom: 1.2rem;
    transition: all 0.4s;
    
    &:hover {
        transform: scale(1.05);
        border: 3px solid $color-primary;
    }
}

.testimonial-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}

.testimonial-name {
    font-size: 1.6rem;
    color: $color-grey-light-5;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    display: block;
    width: 100%;
    transition: all 0.4s;
}

.gallery-item img:hover {
    transform: scale(1.1);
}
